<h1>Vítejte, {{login}}</h1>
<a href="roomsAdmin.php" class="btn btn-primary mt-3">Seznam místností</a>
<a href="employeesAdmin.php" class="btn btn-primary mt-3">Seznam zaměstnanců</a>
<a href = "passChange.php" class="btn btn-primary mt-3">Změna hesla</a>
<a href="LogOut.php" class="btn btn-danger mt-3">Odhlásit se</a>