{{#create}}<h1>Nový zaměstnanec</h1>{{/create}}
<form method="post">
    {{#Employees}}
    <div class="mb-3">
        <label for="name">Jméno:</label>
        <input type="text" name="name" id="name" value="{{name}}" required class="form-control">
        {{#errors.name}}<small class="text-warning">{{errors.name}}</small>{{/errors.name}}
    </div>
    <div class="mb-3">
        <label for="surname">Příjmení:</label>
        <input type="text" name="surname" id="surname" value="{{surname}}" required class="form-control">
        {{#errors.surname}}<small class="text-warning">{{errors.surname}}</small>{{/errors.surname}}
    </div>
    <div class="mb-3">
        <label for="job">Pozice:</label>
        <input type="text" name="job" id="job" value="{{job}}" required class="form-control">
    </div>
    <div class="mb-3">
        <label for="wage">Plat:</label>
        <input type="number" name="wage" id="wage" value="{{wage}}" required class="form-control">
    </div>
    <div class="mb-3">
        <label for="login">Login:</label>
        <input type="text" name="login" id="login" value="{{login}}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="pass">Heslo:</label>
        <input type="text" name="pass" id="pass" value="{{pass}}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="admin">Admin privilegia:</label>
        <input type="checkbox" name="admin" id="admin" value="false">
    </div>
    
    <div class="form-check">
        <label>Místnost: </label>
        {{#rooms}}
        <br/>
        <label class="form-check-label">{{RName}}</label>
        <input class="form-check-input" required type="radio" name="room" id="room" value="{{RoomId}}">
        {{/rooms}}
    </div>

    <div class="mb-3">
        {{#create}}
        <input type="hidden" name="action" value="create">
        <input type="hidden" name="employee_id" value="{{employee_id}}">
        <input type="submit" value="Vytvořit" class="btn btn-primary">
        {{/create}}
        {{^update}}
            <input type="hidden" name="employee_id" value="{{employee_id}}">
            <input type="hidden" name="action" value="update">
            <input type="submit" value="Upravit" class="btn btn-primary">
        {{/update}}
    </div>
    {{/Employees}}
</form>
<a href = 'employeesAdmin.php' class="btn btn-primary mt-3">Seznam zaměstnanců</a>