<h1>Přiřadit klíč k zaměstnanci</h1>
<a href="keysCreate.php" class="btn btn-primary">Přiřadit klíč</a>
<h1>Odebrat klíč zaměstnanci</h1>
<a href="keysDelete.php" class="btn btn-danger">Odebrat klíč</a><br/>
<a href="employeesAdmin.php" class="btn btn-primary mt-3">Zpět na Seznam zaměstnanců</a>