<h1>Odebrat klíč zaměstnanci</h1>
<form method='post'>
<label>Zaměstnanec: </label>
<select name="employee" class="form-select" aria-label="Default select example">
    {{#Employees}}
    <option value={{employeeId}}>{{employeeName}} {{employeeSurname}}</option>
    {{/Employees}}
</select>
<label>Místnost: </label>
<select name="room" class="form-select" aria-label="Default select example">
    {{#Rooms}}
    <option value={{roomId}}>{{roomName}}</option>
    {{/Rooms}}
</select>
<input type='submit' value='Odebrat' class="btn btn-danger mt-3"><br/>
<input type="hidden" name="action" value="delete"> 
</form>
<a href="keysManage.php" class="btn btn-primary mt-3">Zpět</a><br/>
