<h1>Přihlášení do databáze</h1>
<form method='post'>
<div class='mb-3'>
    <label for='user'>Uživatelské jméno: </label>
    <input type = 'text' name= 'user' id='user' required class="form-control" value="">
</div>
<div class='mb-3'>
    <label for='pass'>Heslo: </label>
    <input type='password' id='pass' name='pass' class="form-control" required value="">
</div>
<div class='mb-3'>
    <input type="submit" value="Přihlásit se" class='btn btn-primary mt-3'>
</div>
</form>